.App {
  text-align: center;
}

.rzad {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

#naglowek {
  font-weight: bold;
  text-decoration: underline;
  font-size: 3rem;
  text-align: center;
  color: green;
}

.ilosc-tekst {
  color: blue;
}

.polecamy {
  font-style: italic;
  text-decoration: underline;
  color: blue;
}

button {
  margin: 5px 10px;
  padding: 8px 15px;
  cursor: pointer;
}