*{
    font-family: serif;
    text-align: center;
}
header, footer{
    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}
#topleft, #topright, #bottomleft, #bottomright{
    width: 50%;
    height: 470px;
}
img{
    padding: 3px;
    margin: 10px;
    border: 2px slateblue dashed;
}
a{
    color: white;
}
input[type="button"]{
    background-color: slateblue;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
input[type="button"]:hover{
    background-color: indigo;
}
input[type="range"]{
    width: 80%;
}
main{
    display: flex;
}