body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
* {
    font-family: Cambria;
}

#lewy1, #lewy2 {
    background-color: #E1BEE7;
    width: 25vw;
}

#lewy1 {
    height: 400px;
}

#lewy2 {
    height: 330px;
}

#prawy1, #prawy2 {
    width: 75vw;
    font-size: 170%;
    text-align: center;
}

#prawy1 {
    background-color: #9C64A6;
    color: white;
    height: 150px;
    letter-spacing: 5px;
}

#prawy2 {
    color: Indigo;
    height: 580px;
}

footer {
    background-color: #9C64A6;
    color: white;
    padding: 10px;
    margin-top: -27px;
}
h1{
    margin-top: 0;
}
h2{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
}

ul{
    list-style: circle;
}

img{
    padding: 4px;
    margin: 15px;
}

img:hover {
    padding: 3px;
    border: 1px dashed Indigo;
}

a[href="index.html"] {
    padding: 25px;
}