body {
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    color: #FCE4EC;
}

header, footer {
    background-color: #880E4F;
    color: white;
    margin: 10px;
    letter-spacing: 20px;
}

section.lewa {
    width: 50%;
    height: 600px;
    overflow: auto;
}

section.prawa {
    background-color: #880E4F;
    color: white;
    width: 40%;
    height: 500px;
    margin: 35px;
    padding: 10px;
    border-radius: 15px;
    color: DimGray;
}

table {
    margin: auto;
    width: 70%;
}

table tr:hover {
    background-color: #F8BBD0;
}

input, select, button {
    margin: 5px;
    width: 70%;
}