*{
    font-family: Georgia;
    color: white;
}

body{
    margin: 0;
}

header,footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}


#lewy, #srodkowy, #prawy{
    background-color: lightsalmon;
    height: 527px;
    float: left;
}

#lewy, #prawy{
    width: 15%;
}
#srodkowy{
    width: 70%;
}

#miniatury{
    background-color: maroon;
    height: 70px;
    clear: both;
}

button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

#srodkowy > img{
    display: block;
    margin: auto;
    padding-top: 45px;
}

#srodkowy > img:hover{
    animation-name: srodkowy;
    animation-duration: 5s;
    scale: 120%;
}

@keyframes srodkowy {
 from { scale: 100%;}
 to { scale: 120%;}
}

#miniatury > img{
    height: 70px;
    animation-duration: 4s;
    animation-name: miniatury;
}

@keyframes miniatury {
 from { padding-left: 50px;}
 to { padding-left: 0px;}
}