*{
    font-family: Verdana;
}

#motorpng{
    position: absolute;
    display: block;
    left: 15%;
    width: 70%;
    z-index: -1;
}
header{
    background-color: rgba(60, 120, 160, 0.9);
    color: white;
    font-size: 150%;
    padding: 10px;
}
#left{
    background-color: rgb(0,100,0,0.6);
    margin: 2%;
    width: 75%;
    height: 600px;
    font-size: 120%;
    overflow-y: auto;
    box-shadow: 10px 10px 7px DimGray;
}
#right{
    width: 15%;
}
#topright, #bottomright{
    background-color: rgb(0,100,0,0.6);
    margin: 1%;
    height: 300px;
    box-shadow: 10px 10px 7px DimGray;
}
footer{
    background-color: rgba(60, 120, 160, 0.9);
    color: white;
    padding: 10px;
}
h1,h2{
    text-align: center;
    font-style: italic;
}
a, dt{
    color: white;
}
dt{
    margin: 1%;
}
dd:hover{
    background-color: LightGreen;
}
main{
    display: flex;
}
